{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<p>US census data can be analyzed here.</p>

<app-root>Loading the app...</app-root>

<script type="text/javascript" src="{% static 'front-end/runtime.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/polyfills.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/styles.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/vendor.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/main.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/scripts.js' %}"></script>

{% endblock %}
